@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root{
    --levitarValor: 0 ;
    --moveFruitDir: 0 ;
    --fruitmovedelay: 0;
    --fruitmovewavedelay: 1;
    --buttonColor: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling:  touch;
    white-space: nowrap; 
}

#latacontainer{
    height: 60vh;
    position: relative;
    bottom: 0;
    display: flex;
    place-content: center;
    z-index: 2;
    mask-image: url("imagenes\ del\ proyecto/lata.svg");
    mask-size: 100%;
    mask-position: center;
    mask-repeat: no-repeat;
    overflow: hidden;
}

#latacontainer img{
    height: 100%;
}

#etiqueta{
    position: absolute;
    left: 0%;
    mix-blend-mode: multiply;
    transition: all 0.3s ease;
}

header{
    display: flex;
    place-content: center;
    font-family: Lexend;
    font-size: 25px;
    z-index: 10;
    position: relative;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
}

h2{
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    color: white;
    z-index: 1;
    font-size: 300px;
    font-family: Lexend;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

#containerbuttons{
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    z-index: 3;
    height: 100%;
    width: 95vw;
}

#buttonleft{
   background-color: white;
   border-radius: 50%;
   padding: 20px;
   cursor: pointer;
   position: absolute;
   left: 0;
   animation: buttonaura 1s 1s infinite;
   color: var(--buttonColor);
}

#buttonright{
    background-color: white;
    border-radius: 100px;
    padding: 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
    animation: buttonaura 1s 1s infinite;
    color: var(--buttonColor);
}

#etiqueta{
    height: 100%;
}

.fruits{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.fruits section{
    display: flex;
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    flex-shrink: 0;
}

.fruits section .background{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -10;
}

.fruits section div img{
    height: 100%;
    width: 100%;
    opacity: 0;
}
.fruits section div:nth-child(6){
    bottom: 10vh;
    left: 2vw;
    width: 22vh;
    --levitarValor: 3;
    --moveFruitDir: 1;
    --fruitmovedelay: 4;
}

.fruits section div:nth-child(3){
    top: 15vh;
    left: 22vw;
    width: 25vh;
    --levitarValor: 4;
    --moveFruitDir: -1;
    --fruitmovedelay: 3;
}

.fruits section div:nth-child(4){
    top: 10vh;
    right: 12vw;
    width: 20vh;
    --levitarValor: 2;
    --moveFruitDir: -1;
    --fruitmovedelay: 2;
}

.fruits section div:nth-child(5){
    bottom: 2vh;
    right: 2vw;
    width: 35vh;
    --levitarValor: 1;
    --moveFruitDir: 1;
    --fruitmovedelay:1;
}

body{
    background-color: black;
}

.floatsfruits{
    position: fixed;
    animation-composition: add;
    transition: all 0.5s;
    animation: levitarX calc(var(--levitarValor) * 1s)  ease-in-out infinite alternate both
                calc(var(--levitarValor) * 100ms),
                levitarY calc(var(--levitarValor) * 1s) ease-in-out infinite alternate both calc(var(--levitarValor)* 500ms);
}

.fruits div::after{
content: "";
position: absolute;
height: 20px;
width: 80%;
bottom: -10%;
background: linear-gradient(to right, transparent, white, transparent);
left: 10%;
filter: blur(10px);
border-radius: 50%;
opacity: 0;
}

@keyframes buttonaura {
from{
box-shadow: 0 0 0 0 var(--buttonColor);
}
to{
box-shadow: 0 0 0 20px transparent;
}
}

@keyframes showh2 {
from{
    transform: translateY(100px);
    opacity: 0;
}
to{
    transform: translateY(0);
    opacity: 1;
}
}

@keyframes hideh2 {
    from{
transform: translateY(0);
opacity: 1;
    }
    to{
transform: translateY(-100px);
opacity: 0;
    }
}
@keyframes showfruits {
    from{
        transform: translate(0, calc(var(--moveFruitDir) * 100vh));
        opacity: 0;
    }
    to{
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes hidefruits {
    from{
        transform: translate(0,0);
        opacity: 1
    }
    to{
        transform: translate(0, calc(var(--moveFruitDir) * 100vh));
        opacity: 0;

    }
}


@keyframes levitarX {
    from{
        transform: translateX(calc(var(--levitarValor) * 1vh));
    }
    to{
        transform: translateX(calc(var(--levitarValor) * -1vh));
    }
}

@keyframes levitarY {
    from{
        transform: translateY(calc(var(--levitarValor) * 1vh));
    }
    to{
        transform: translateY(calc(var(--levitarValor) * -1vh));
    }
}

.show-h2{
animation: showh2 0.5s ease-out both ;
}

.hide-h2{
animation: hideh2 0.5s ease-in;
}


.show-fruits img{
    animation: showfruits 0.5s ease-out both  calc(((var(--fruitmovedelay) * var(--fruitmovewavedelay)) + 3) * 50ms)
}

.show-fruits::after{
    animation: showfruits 0.5s ease-out both calc(((var(--fruitmovedelay) * var(--fruitmovewavedelay)) + 3) * 50ms) ;
}


.hide-fruits img{
    animation: hidefruits 0.5s ease-out calc(((var(--fruitmovedelay) * var(--fruitmovewavedelay)) + 3) * 50ms) ;
}

.hide-fruits::after{
    animation: hidefruits 0.5s ease-out calc(((var(--fruitmovedelay) * var(--fruitmovewavedelay)) + 3) * 50ms) ;
}
